#img {
    position: relative;
    float: none;
}

.right {
    position: relative;
    float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr,th,td {
    border: 1px solid black;
}

iframe {
    width: 100%;
}