#img {
    position: relative;
    float: none;
}

.right {
    position: relative;
    float: right;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td {
    text-align: right;
}

tr,th,td {
    border: 1px solid black;
}

iframe {
    float: right;
    width: 80%;
    height: 600px;
}


/* #EDC7B7  rgb(237, 199, 183) */
/* #EEE2DC  rgb(238, 226, 220) */
/* #BAB2B5  rgb(186, 178, 181) */
/* #123C69  (18,  60,  105) */
